*{
    background-color: #9d7be0;
}

h1, h2{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content:center;
}

input[type="date"]{
    background-color: white;
    border-radius: 20px;
    border-width: 0px;
    padding: 10px;
    width: 200px;
}

.formEntrada{
    display: flex;
    flex-direction: column;
    justify-content:right;
}

button{

    margin: 10px;
    border-radius: 10px;
    border-width: 0px;
    width:100px;
    padding: 10px;
    background: #a1226c;
    color: #ffff;

}

