/*
  Una forma de asignacion de cambios a los elementos css se puede usar
  id con #, clases con ., u elementos ya establecidos

*/

/*ejemplo de elemento ya establecido*/
p{
   font-size: 18px;
   color:blue;
}

h2{
font-size: 24px;
}

span{
   display:block;
   color:blue;
}

/**ejemplo de una clase*/

#content-header{
  color:red;
  font-size:18px;
}

/*ejemplo de una ID*/
.deck{
  color:red;
}
